[submodule "pins"]
	path = pins
	url = https://github.com/keewon/pins_on_the_map.git
[submodule "pifi"]
	path = pifi
	url = git@github.com:keewon/pi_finder.git
[submodule "jlpt"]
	path = jlpt
	url = https://github.com/keewon/jlpt.git
